extends layout

block content
  h1= title
  p Welcome to #{title}
  hr
  ul(class="list-group")
    li(class="list-group-item") To create new product press "Create New Product" button.
    li(class="list-group-item") To view all distinct products press "All Products" button.
    li(class="list-group-item") To create new location press "Create New Location" button.  
    li(class="list-group-item") To view all distinct locations press "All Locations" button.
    li(class="list-group-item") To add product to inventory press "Add Product to Inventory" button.
    li(class="list-group-item") To view all products added to the inventory press "Inventory" button.