extends layout

block content
  h1=title

  form(method='POST' action=(url ? url : product.url)+ '/update' enctype="application/x-www-form-urlencoded" class="ceForm")
    div.form-group
      input(type="hidden" name="_method" value="put")
      label(for='title') Title:
      input#title.form-control(type='text' placeholder='Title' name='title' required='true' value=(product.title ? product.title : '') )
      label(for='description') Description:
      input#description.form-control(type='text' placeholder='Description' name='description' required='true' value=(product.description ? product.description : ''))
      label(for='price') Price:
      input#price.form-control(type='text' placeholder='Price' name='price' required='true' value=(product.price ? product.price : ''))
    button.btn.btn-primary(type='submit') Submit
  if errors 
    ul
      for error in errors
        li!= error.msg